<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Time Management</title>
    <style>
        /* 对话框样式 */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            width: 30%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /*重要紧急维度选择 样式*/
        .importance-urgency-matrix {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        .matrix-button {
            padding: 10px;
            background-color: white;
            border: 1px solid #ccc;
            cursor: pointer;
        }

        .matrix-button.selected {
            background-color: #ccc; /* 灰色背景表示选中 */
        }





        /*!* 深色主题的自定义样式 *!*/
        /*.fc {*/
        /*    background-color: #333; !* 设置日历背景为深灰色 *!*/
        /*    color: #fff; !* 设置文本颜色为白色 *!*/
        /*}*/

        /*.fc-day {*/
        /*    background-color: #444; !* 设置日期单元格背景 *!*/
        /*}*/

        /*.fc-event {*/
        /*    background-color: #555; !* 设置事件背景 *!*/
        /*    border-color: #666; !* 设置事件边框颜色 *!*/
        /*    color: #fff; !* 设置事件文本颜色 *!*/
        /*}*/

    </style>

</head>
<body>
<h1>Welcome, {{ request.user.username }}!</h1>
<a href="/user_logout">退出登录</a>
<br/>
<a href="/ai_chatting">AI聊天</a>
<br/>
<a href="/planner">计划师</a>
<br/>
<a href="/about">关于我们</a>
<br/>
<a href="/user_data">我的</a>

<br/>
<div id="calendar"></div>
<!-- 点击后弹出的对话框 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p><strong>日程名称：</strong> <input type="text" id="eventTitle"></p>
        <p><strong>从：</strong> <input type="datetime-local" id="eventStart"></p>
        <p><strong>到：</strong> <input type="datetime-local" id="eventEnd"></p>
        <p><strong>日程详情：</strong> <textarea id="eventDescription"></textarea></p>
        <div class="importance-urgency-matrix">
            <button type="button" onclick="setImportanceUrgency('important', 'urgent', this)" class="matrix-button">重要且紧急</button>
            <button type="button" onclick="setImportanceUrgency('important', 'not-urgent', this)" class="matrix-button">重要但不紧急</button>
            <button type="button" onclick="setImportanceUrgency('not-important', 'urgent', this)" class="matrix-button">不重要但紧急</button>
            <button type="button" onclick="setImportanceUrgency('not-important', 'not-urgent', this)" class="matrix-button">不重要且不紧急</button>
        </div>
        <p><strong>日程组：</strong>
            <select id="eventGroupId">
                <option value="">无</option>
                <!-- 动态生成日程组选项 -->
            </select>
        </p>
        <input type="hidden" id="eventId"> <!-- 隐藏的输入框用于存储事件 ID -->
        <input type="hidden" id="eventImportance">
        <input type="hidden" id="eventUrgency">
        <button onclick="updateEventFromModal()">确定</button>
        <button onclick="deleteEvent()">删除日程</button>
    </div>
</div>


<!-- 创建日程的对话框 -->
<div id="createEventModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCreateEventModal()">&times;</span>
        <h2>新建日程</h2>
        <form id="createEventForm">
            <p><strong>日程名称：</strong> <input type="text" id="newEventTitle" required></p>
            <p><strong>日程详情：</strong> <textarea id="newEventDescription"></textarea></p>
            <p><strong>从</strong> <input type="datetime-local" id="newEventStart" required></p>
            <p><strong>到</strong> <input type="datetime-local" id="newEventEnd" required></p>
            <div class="importance-urgency-matrix">
                <button type="button" onclick="setImportanceUrgency('important', 'urgent', this)" class="matrix-button">重要且紧急</button>
                <button type="button" onclick="setImportanceUrgency('important', 'not-urgent', this)" class="matrix-button">重要但不紧急</button>
                <button type="button" onclick="setImportanceUrgency('not-important', 'urgent', this)" class="matrix-button">不重要但紧急</button>
                <button type="button" onclick="setImportanceUrgency('not-important', 'not-urgent', this)" class="matrix-button">不重要且不紧急</button>
            </div>
            <p><strong>置入日程组：</strong>
                <select id="newEventGroupId">
                    <option value="">无</option>
                    <!-- 选项将通过 JavaScript 动态生成 -->
                </select>
            </p>
            <input type="hidden" id="newEventImportance">
            <input type="hidden" id="newEventUrgency">
            <button type="submit">创建</button>
        </form>
    </div>
</div>

<!-- 创建日程组的对话框 -->
<div id="createEventGroupModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCreateEventGroupModal()">&times;</span>
        <h2>创建日程组</h2>
        <form id="createEventGroupForm">
            <p><strong>日程组名称：</strong> <input type="text" id="newGroupName" required></p>
            <p><strong>日程组描述：</strong> <textarea id="newGroupDescription"></textarea></p>
            <p><strong>日程组颜色：</strong> <input type="color" id="newGroupColor" required></p>
            <button type="submit">创建</button>
        </form>
    </div>
</div>

<!--<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>-->
<!--上面是让浏览器自行下载fullcalendar的意思-->
<script src='../static/fullcalendar_index.global.js'></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            height: 'auto',
            locale: 'zh-cn', // 指定中文简体
            allDayText: '全天', // 更改all-day 显示文本
            initialView: 'timeGridWeek', // 初始视图
            editable: true, // enable draggable events

            eventDrop: function (info) {
                updateEvent(info.event.id, info.event.start.toISOString(), info.event.end.toISOString(), info.event.title, info.event.extendedProps.description, info.event.extendedProps.importance, info.event.extendedProps.urgency, info.event.extendedProps.groupID);
            },
            eventResize: function (info) {
                updateEvent(info.event.id, info.event.start.toISOString(), info.event.end.toISOString(), info.event.title, info.event.extendedProps.description, info.event.extendedProps.importance, info.event.extendedProps.urgency, info.event.extendedProps.groupID);
            },

            eventClick: function (info) {
                var modal = document.getElementById('myModal');
                var closeBtn = document.getElementsByClassName('close')[0];

                // 获取事件的开始时间和结束时间，并减去8小时
                var eventStart = new Date(info.event.start);
                eventStart.setHours(eventStart.getHours() + 8); // 减去8小时时差
                var eventEnd = new Date(info.event.end);
                eventEnd.setHours(eventEnd.getHours() + 8); // 减去8小时时差

                // 转换为 YYYY-MM-DDTHH:MM 格式
                var formattedStart = eventStart.toISOString().substring(0, 16);
                var formattedEnd = eventEnd.toISOString().substring(0, 16);

                // 设置事件信息到对话框
                document.getElementById('eventTitle').value = info.event.title;
                document.getElementById('eventStart').value = formattedStart;
                document.getElementById('eventEnd').value = formattedEnd;
                document.getElementById('eventDescription').value = info.event.extendedProps.description;

                // 获取重要性和紧急性属性
                const importance = info.event.extendedProps.importance || '';
                const urgency = info.event.extendedProps.urgency || '';

                // 设置重要性和紧急性按钮的选中状态
                const buttons = document.querySelectorAll('.matrix-button');
                buttons.forEach(btn => btn.classList.remove('selected'));
                if (importance && urgency) {
                    document.querySelector(`[onclick="setImportanceUrgency('${importance}', '${urgency}', this)"]`).classList.add('selected');
                }

                // 动态生成日程组的下拉菜单选项
                const eventGroupIdSelect = document.getElementById('eventGroupId');
                eventGroupIdSelect.innerHTML = '<option value="">无</option>'; // 默认选项
                window.events_groups.forEach(group => {
                    const option = document.createElement('option');
                    option.value = group.id;
                    option.text = group.name;
                    eventGroupIdSelect.appendChild(option);
                });

                // 设置日程组选择框的默认值
                const eventGroupId = info.event.extendedProps.groupID || '';
                document.getElementById('eventGroupId').value = eventGroupId;


                // 保存当前事件的 ID 和属性
                document.getElementById('eventId').value = info.event.id;
                document.getElementById('eventImportance').value = importance;
                document.getElementById('eventUrgency').value = urgency;

                modal.style.display = 'block';

                closeBtn.onclick = function () {
                    modal.style.display = 'none';
                };

                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = 'none';
                    }
                };
            },

            selectable: true,
            select: function (info) {
                openCreateEventModal(info.startStr, info.endStr);
            },

            aspectRatio: 1.8,
            headerToolbar: {
                left: 'today prev, next, createEventButton, createEventGroupButton',
                center: 'title',
                right: 'timeGridDay,dayGridMonth,timeGridWeek,listWeek'
            },

            buttonText: {
                today: '今天',
                month: '月',
                week: '周',
                day: '日',
                list: '列表视图',

            },
            customButtons: {
                createEventButton: {
                    text: '新建日程',
                    click: function () {
                        openCreateEventModal(0, 0);
                    }
                },
                createEventGroupButton: {
                    text: '新建日程组',
                    click: function () {
                        openCreateEventGroupModal();
                    }
                }
            },


            events: function (info, successCallback, failureCallback) {
                fetch('/get_calendar/events/')
                    .then(response => response.json())
                    .then(data => {
                        if (data && data.events && data.events_groups) {
                            // 将日程组数据存储到全局变量中
                            window.events_groups = data.events_groups;

                            // 为每个事件添加颜色信息
                            const eventsWithColor = data.events.map(event => {
                                const groupID = String(event.groupID); // 确保 groupID 是字符串
                                const group = window.events_groups.find(group => String(group.id) === groupID); // 确保 group.id 也是字符串

                                if (group) {
                                    console.log("WIN");
                                } else {
                                    console.log("LOSE");
                                    console.log(data.events, window.events_groups);
                                }

                                const groupColor = group ? group.color : '#600'; // 默认颜色
                                return {
                                    ...event,
                                    backgroundColor: groupColor,
                                    borderColor: groupColor
                                };
                            });

                            successCallback(eventsWithColor);
                        } else {
                            failureCallback(new Error('Invalid data format'));
                        }
                    })
                    .catch(error => {
                        failureCallback(error);
                    });
            },

            resources: function (info, successCallback, failureCallback) {
                fetch('/get_calendar/resources/')
                    .then(response => response.json())
                    .then(data => {
                        successCallback(data);
                    })
                    .catch(error => {
                        failureCallback(error);
                    });
            }

        });


        calendar.render();
    })

    document.getElementById('createEventForm').addEventListener('submit', function (event) {
        event.preventDefault();
        createEvent();
    });


    // 添加按钮点击事件监听器
    document.getElementById('createEventGroupButton').addEventListener('click', function() {
        openCreateEventGroupModal();
    });
    // 此功能已经被fullcalendar自定义按钮回调取代！

    // 处理创建日程组的表单提交
    document.getElementById('createEventGroupForm').addEventListener('submit', function(event) {
        event.preventDefault();
        createEventGroup();
    });


    function updateEvent(eventId, newStart, newEnd, title, description, importance, urgency, groupID) {
        fetch('/get_calendar/update_events/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({eventId, newStart, newEnd, title, description, importance, urgency, groupID})
        })
            .then(response => response.json())
            .then(data => {
                console.log('Event updated successfully');
            })
            .catch(error => console.error('Error updating event:', error));
    }

    function updateEventFromModal() {
        var eventId = document.getElementById('eventId').value; // 获取事件 ID
        var title = document.getElementById('eventTitle').value; // 获取日程名称
        var newStart = document.getElementById('eventStart').value; // 获取用户输入的新开始时间
        var newEnd = document.getElementById('eventEnd').value; // 获取用户输入的新结束时间
        var description = document.getElementById('eventDescription').value; // 获取日程详情
        var importance = document.getElementById('eventImportance').value; // 获取重要性
        var urgency = document.getElementById('eventUrgency').value; // 获取紧急性
        var groupID = document.getElementById('eventGroupId').value; // 获取日程组 ID

        // 将本地时间转换为 UTC 时间
        function toUTC(time) {
            const date = new Date(time);
            return date.toISOString();
        }

        // 调用 updateEvent 函数
        updateEvent(eventId, toUTC(newStart), toUTC(newEnd), title, description, importance, urgency, groupID);
        location.reload()

        // 关闭对话框
        document.getElementById('myModal').style.display = 'none';
    }


    function deleteEvent() {
        // 从隐藏的输入框中获取 eventId
        var eventId = document.getElementById('eventId').value;

        fetch('/get_calendar/delete_event/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({eventId}) // 确保传递正确的 eventId
        })
            .then(response => response.json())
            .then(data => {
                console.log('Event deleted successfully');
                location.reload(); // 刷新页面
                document.getElementById('myModal').style.display = 'none';

                // 从日历中移除该事件
                if (window.currentEvent) {
                    window.currentEvent.remove(); // 删除事件

                }
            })
            .catch(error => console.error('Error deleting event:', error));
    }

    // 打开创建栏
    function openCreateEventModal(start, end) {
        // 将 ISO 格式的时间字符串转换为本地时间格式，并加上8小时
        function toLocalTime(time) {
            const date = new Date(time);
            date.setHours(date.getHours() + 8); // 加上8小时
            return date.toISOString().substring(0, 16); // 格式化为 YYYY-MM-DDTHH:MM
        }

        // 设置输入框的值
        document.getElementById('newEventStart').value = toLocalTime(start);
        document.getElementById('newEventEnd').value = toLocalTime(end);

        // 清除重要性和紧急性按钮的选中状态
        const buttons = document.querySelectorAll('.matrix-button');
        buttons.forEach(btn => btn.classList.remove('selected'));

        // 清空隐藏输入框的值
        document.getElementById('newEventImportance').value = '';
        document.getElementById('newEventUrgency').value = '';

        // 动态生成日程组的下拉菜单选项
        const eventGroupIdSelect = document.getElementById('newEventGroupId');
        eventGroupIdSelect.innerHTML = '<option value="">无</option>'; // 默认选项
        window.events_groups.forEach(group => {
            const option = document.createElement('option');
            option.value = group.id;
            option.text = group.name;
            eventGroupIdSelect.appendChild(option);
        });

        // 显示创建日程的对话框
        document.getElementById('createEventModal').style.display = 'block';
    }

    // 关闭
    function closeCreateEventModal() {
        document.getElementById('createEventModal').style.display = 'none';
    }

    // 重要性-紧急性维度视图
    function setImportanceUrgency(importance, urgency, button) {
        // 获取当前按钮的状态
        const isAlreadySelected = button.classList.contains('selected');

        // 如果按钮已经被选中，再次点击则取消选中
        if (isAlreadySelected) {
            document.getElementById('eventImportance').value = '';
            document.getElementById('eventUrgency').value = '';
            button.classList.remove('selected');
        } else {
            // 如果按钮未被选中，设置为选中状态
            document.getElementById('eventImportance').value = importance;
            document.getElementById('eventUrgency').value = urgency;

            // 清除所有按钮的选中状态
            const buttons = document.querySelectorAll('.matrix-button');
            buttons.forEach(btn => btn.classList.remove('selected'));

            // 设置当前按钮为选中状态
            button.classList.add('selected');
        }
    }

    // 发送新建的日程
    function createEvent() {
        var title = document.getElementById('newEventTitle').value;
        var start = document.getElementById('newEventStart').value;
        var end = document.getElementById('newEventEnd').value;
        var description = document.getElementById('newEventDescription').value;
        var importance = document.getElementById('newEventImportance').value;
        var urgency = document.getElementById('newEventUrgency').value;
        var groupId = document.getElementById('newEventGroupId').value; // 获取选中的日程组 ID

        fetch('/get_calendar/create_event/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ title, start, end, description, importance, urgency, groupId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    closeCreateEventModal();
                    location.reload(); // 刷新页面以显示新事件
                }
            })
            .catch(error => console.error('Error creating event:', error));
    }


    function openCreateEventGroupModal() {
        document.getElementById('createEventGroupModal').style.display = 'block';
    }

    function closeCreateEventGroupModal() {
        document.getElementById('createEventGroupModal').style.display = 'none';
    }

    function createEventGroup() {
        const groupName = document.getElementById('newGroupName').value;
        const groupDescription = document.getElementById('newGroupDescription').value;
        const groupColor = document.getElementById('newGroupColor').value;

        fetch('/get_calendar/create_events_group/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: groupName,
                description: groupDescription,
                color: groupColor
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('日程组创建成功');
                    closeCreateEventGroupModal();
                    location.reload(); // 刷新页面以获取最新的日程组数据
                }
            })
            .catch(error => console.error('创建日程组失败:', error));
    }



    
</script>
</body>
</html>